.m-.5 {
  margin: 0.5rem;
}
.my-.5 {
  margin: 0.5rem 0;
}
.p-.5 {
  padding: 0.5rem;
}
.py-.5 {
  padding: 0.5rem 0;
}
.m-1 {
  margin: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding: 1rem 0;
}
.m-2 {
  margin: 2rem;
}
.my-2 {
  margin: 2rem 0;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.m-3 {
  margin: 3rem;
}
.my-3 {
  margin: 3rem 0;
}
.p-3 {
  padding: 3rem;
}
.py-3 {
  padding: 3rem 0;
}
.m-4 {
  margin: 4rem;
}
.my-4 {
  margin: 4rem 0;
}
.p-4 {
  padding: 4rem;
}
.py-4 {
  padding: 4rem 0;
}
.m-5 {
  margin: 5rem;
}
.my-5 {
  margin: 5rem 0;
}
.p-5 {
  padding: 5rem;
}
.py-5 {
  padding: 5rem 0;
}
/*
.container {
  background-color: rgba(10, 10, 10, 0.7);
  width: 300px;
  border-radius: 30px;
  margin-top: 10rem;
  left: 4%;
  margin-left: -150px;
  padding: 7rem 2.5rem 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2.5rem;
  position: absolute;
}
*/

.login-container {
  border-radius: 0.6rem;
  text-align: center;
  padding: 30px;
  width: 250px;
  background-color: rgba(11, 10, 10, 0.881);
}
.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.newc {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: #151617;
}
.bg-primary {
  background-color: #151617;
  color: #cdcdcc;
}
.bg-light {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #000;
  color: #cdcdcc;
}
.bg-success {
  background-color: #28a745;
  color: #cdcdcc;
}
.bg-danger {
  background-color: #dc3545;
  color: #333;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}
.btn {
  display: inline-block;
  background: #070606 !important;
  color: #e9e9e9;
  padding: 0.4rem 0.5rem;
  border: solid;
  border-width: 2px;
  border-color: #dfdfdf !important;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  outline: none;
  border-radius: 10px;
  margin-bottom: 0.6rem;
  transition: all 0.2s ease-in;
}
.btn:hover {
  border-color: white;
  color: white;
  border-width: 2.3px;
  background-color: black;
  font-size: 1.23rem;
}
.dark-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
}
.dark-overlay-user {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.dark-overlay-driver {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
  min-height: 80vh;
}

.dark-overlay-darker {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
}

.footer-start {
  position: absolute;
  height: 1px;
}
.global-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-size: 12px;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 1px;
  text-align: left;
}
a {
  color: white;
}
.global-footer a {
  color: #cdcdcc;
}
.global-footer a:hover {
  color: white;
}
.footer-sep {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #272727;
  text-align: left;
  align-content: left;
  width: 90%;
  padding: 2rem;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1.8rem 1.8rem 1.8rem 0.3rem;
  padding-top: 1.8rem;
}
.footer-sep ul {
  margin-right: 3rem;
  margin-bottom: 2rem;
}
.footer-sep li {
  width: 110px;
}
.footer-sep > * {
  flex: 1 1 150px;
}
.form-control {
  font-family: "Raleway", sans-serif, Courier, monospace;
}
.form-group {
  margin: 1.2rem 0;
}
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #272727;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="tel"],
.form input[type="date"],
.form select,
.form textarea {
  border-radius: 20px;
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.8rem;
  border: 1.5px solid #ccc;
}
/* .form-in {
  opacity: 0;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 0.1px;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  background-color: #070606;
  color: white;
}
a {
  text-decoration: none;
  color: #3a70b4;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.navbar-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 2.5rem 0.5rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #151617;
  background-color: #0d0d0dc9;
}
.navbar-custom ul {
  display: flex;
}
.navbar-custom a {
  color: #cdcdcc;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar a:hover {
  color: white;
}
.bgimg,
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bgimg-4 {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.bgimg-inner {
  font-size: larger;
  font-weight: bold;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bgimg-1 {
  background-image: url("/images/bicycle-delivery.jpg");
}
.bgimg-2 {
  background-image: url("/images/baby-driver2.jpg");
}
.bgimg-3 {
  background-image: url("/images/cabfocus.jpg");
}
.bgimg-4 {
  background-image: url("/images/car-dash-register.jpeg");
}
.bg-img-login {
  height: 80vh;
  background-image: url("/images/road-login.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.bgimg-dash {
  background-image: url("/images/maps-vint.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.bgimg-driver {
  background-image: url("/images/driver-bg.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  min-height: 80vh;
}

.bgimg-user-info {
  background-image: url("/images/settings.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  min-height: 80vh;
}

.bgimg-booking {
  background-image: url("/images/highways.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  min-height: 80vh;
}

.booking-cont {
  margin: 0px 10rem;
  height: 100%;
  padding-top: 6rem;
}

.int-cont {
  background-color: rgba(0, 0, 0, 0.692);
  padding: 20px;
  margin-bottom: 2rem;
}

.map-cont {
  border-radius: 10px;
}

.bottom-link {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}
.bottom-link:hover {
  text-decoration: underline;
}
.desc1 {
  text-align: center;
  margin: 1rem;
}
.carcool-logo {
  height: 45px;
  width: 150px;
  opacity: 0.85;
}
.carcool-logo:hover {
  opacity: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.home-container {
  padding: 5rem;
  background-color: #04040491;
  border-radius: 10px;
}
.nav-dropdown > button {
  color: white;
  height: 50px;
  border: none;
  margin-top: -5px;
  margin-left: 10px;
  background: rgba(44, 44, 44, 0.807);
}

.drop-menu {
  background-color: rgba(0, 0, 0, 0.658);
  padding-left: 10px;
}

.dropdown-item:hover {
  background: none;
  font-size: 1.1rem;
}

.nav-link {
  font-weight: bold;
  color: rgb(86, 56, 236);
}

.form-cont {
  padding-top: 10px;
}

.form-cont > div {
  margin-bottom: 20px;
}
.form-label {
  margin-bottom: 0.2rem;
}
.search-card {
  background-color: #0e0e0ee6;
  color: rgb(237, 237, 237);
  border-radius: 4px;
  border: 1px solid rgb(200, 198, 195);
  height: 275px;
  overflow-y: auto;
}

.search-card:hover {
  background-color: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-color: white;
}

.form-cont input {
  background-color: #f1f1f1;
  width: 60%;
}
.row-card {
  margin-bottom: 20px;
}

.upcoming-cont {
  display: flex;
  align-items: center;
}

.dynamic-nav-link {
  display: flex;
}
.cont-title {
  margin-bottom: 25px;
}

.interest-tab > form {
  display: grid;
}
.my-1 a {
  color: rgb(100, 100, 248);
  font-weight: 800;
}

.ride-box1 {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 10px;
}

.ride-box2,
.ride-box3 > p {
  font-size: 1.3rem;
  color: rgb(240, 240, 240);
  font-weight: 600;
}

.boldp {
  font-weight: 900;
  font-size: 1.3rem;
  font-weight: white;
  text-decoration: underline;
}

.ride-box2 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.ride-box2 button {
  width: 60%;
  align-self: center;
}

.ride-box3 {
  background-color: #201d3c;
  padding: 10px;
  border-radius: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(223, 223, 223);
}

.your-bookings-cont {
  margin-bottom: 3rem;
}

.booking-card {
  height: 200px;
  border-top-width: 8px;
  margin-bottom: 20px;
  width: 600px;
  background-color: #0f0f0fe6;
  border-radius: 8px;
}

.bcard-cont {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.b-heading {
  font-weight: 700;
  font-size: 2rem;
}

.info-msg {
  background-color: rgb(126, 150, 175);
  padding: 4px;
  color: black;
  border-radius: 6px;
}

.upbx {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-bottom: 1rem;
  align-self: center;
  gap: 2rem;
}

.upcoming-card {
  padding: 1rem;
  background-color: #040404d7;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  color: rgb(218, 218, 218);
}

.upcoming-card:hover {
  color: white;
  background-color: #000000f5;
  border: 1px rgba(215, 215, 252, 0.443) solid;
}

.upcoming-box4 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.upcoming-box4 > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upbx button {
  width: 80%;
}

.your-bookings-cont > h5 {
  margin-top: 1rem;
}

.your-bookings-cont > h3 {
  font-weight: 900;
}

/* Custom styles for selected options */
.custom-select__option--is-selected {
  background-color: blue !important;
  color: white !important;
}

/* Custom styles for option hover */
.custom-select__option--is-focused {
  background-color: rgb(0, 0, 0) !important;
}

/* Custom styles for multi-value (tags) */
.custom-select__multi-value {
  background-color: rgb(213, 213, 213) !important;
  font-weight: 600;
}

.custom-select__multi-value-label {
  color: white !important;
}

.custom-select__multi-value__remove:hover {
  background-color: red !important;
  color: black !important;
}

/* Customize the dropdown menu */
.custom-select__menu {
  background-color: rgb(61, 61, 61) !important;
}

.search-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.card-col-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

input {
  background-color: rgb(237, 237, 237) !important;
  border: 1px solid rgb(0, 0, 0) !important;
  font-weight: 800 !important;
  font-family: "Courier New", Courier, monospace;
}

input:focus {
  border: 2px solid rgb(56, 56, 249) !important;
  background-color: rgb(255, 255, 255) !important;
}

.btn-primary:disabled {
  background-color: black !important;
  border-color: grey;
}

.user-card-head {
  border-bottom: 4px solid rgb(164, 164, 164);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 3px 15px;
}

.nav-tabs button {
  color: rgb(193, 216, 255);
  font-weight: 800;
}

.rel-cont {
  position: relative;
}
.rel-cont button {
  z-index: 20;
}
